<div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <div class="row">

                    <div class="row">
                        <div class="row">
                            {{#each article}}
                            <form class="col s12">
                                <div class="row">
                                    <div class="container">
                                        <div class="row">
                                           <h5>{{title}}</h5>
                                           <p>{{comment}}</p>
                                             
                                             <form action="/submit" method="post">
                                                <div class="input-field col m12">
                                                   
                                                    <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                                                    <label for="textarea2">Your comments to the article here...</label>
                                                    {{!-- <a class="waves-effect waves-light btn" href="/submit">Submit</a> --}}
                                                    <button class="waves-effect waves-light" type="submit" id="submitComment" data-id={{_id}}>Submit</i></button>
                                                    
                                                </div>
                                             </form>
                                                

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                      
                         {{/each}}
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>