
  <div class="header">
        <nav>
            <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Probulica Scrapper</a>
                 <div>
                     <ul class="right hide-on-med-and-down">
                            <li><a class="waves-effect waves-light btn-large">Scrape</a></li>
                            <li><a class="waves-effect waves-light btn-large">Large Button</a></li>
                        </ul>
                </div>
            </div>
        </nav>

  </div>
  <div class="container">
      <div class="main">
          <div class="row">
              <div class="col m12 truncate">
                  <h1>Below this the links and buttons will be displayed in each card  dadad</h1>
              </div>
          </div>
                  <div class="row">
                            <div class="col s12 m4">
                            <div class="card red lighten-2">
                                <div class="card-content white-text">
                                <span class="card-title truncate left-align"><h4>Article title will go here what else can we cram into this span</h4></span>
                                <p> <b>Article Summary will go in this block =>.</b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nam amet recusandae accusantium molestiae numquam consequuntur deserunt placeat, rerum quaerat libero reprehenderit perspiciatis. Numquam, error libero quam sunt possimus quas.</p>
                                </div>
                                <div class="card-action center">
                                <a class="waves-effect waves-light btn" href="#"><i class="fas fa-heart"></i></a>
                                <a class="waves-effect waves-light btn" href="#"><i class="fas fa-comment"></i></a>
                                <a class="waves-effect waves-light btn" href="#"><i class="fas fa-trash"></i></a>
                                </div>
                            </div>
                            </div>
                        </div>
           

      </div>
  <div class="footer">

  </div>
    
