
  <di
  </div>
  <div class="container">
      <div class="main">
          <div class="row">
              <div class="col s12 truncate">
                 <span class="card-title truncate left-align"><h4>Please click the Scrape button to generate articles.</h4></span>
              </div>
          </div>
                 
           

  
