<div class="header">

</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 container">
            
                    <div>
                        {{#each article}}
                        <h2>{{title}}</h2>
                        <p>{{summary}}</p>
                    </div>
                    <div>
                        {{comment.body}}
                    </div>
                    {{/each}}
        </div>
    </div>
</div>
<div class="footer">

</div>