<div class="header">

</div>
<div class="container">
    <div class="row">
        <div class="col s12">
                    <h4>Previous Article Notes:</h4>
                    <div>
                        {{#each article}}
                        <h5>{{title}}</h5>
                        <p>{{summary}}</p>
                       
                            {{#each comment}}
                        
                            <li><b>{{body}}</b></li>
                            {{/each}}
                            {{/each}}
                        
                    </div>
                <a class="waves-effect waves-light btn" href="/articles">Back to Articles</a>
         </div>
     </div>
</div>